.body{
    flex:0.8;
    height: 100vh;
    color: white;
    padding: 30px 30px 100px 30px;
    overflow-y: overlay;
    background:linear-gradient(rgb(91, 87, 115),rgba(0,0,0,1));
}
.body::-webkit-scrollbar{
    display: none;
}
.body_info{
    display: flex;
    align-items: flex-end;
    padding: 10px;
}
.body_info>img{
    height: 20vw;
    box-shadow: 0 4px 60px rgba(0,0,0,0.5);
    margin: 0 20px;
}
.body_infoText{
    flex:1;
}
.body_infoText>h2{
    font-size: 48px;
    margin-bottom: 10px;
}
.body_infoText>p{
    font-size: 14px;
}

.body_songs{
    margin:20px -30px;
}
.body_icons{
    display: flex;
    align-items: center;
}
.body_icons> .MuiSvgIcon-root{
    margin-right: 20px;
}
.body_shuffle{
    font-size: 80px !important;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.body_shuffle:hover{
    transition: 100ms tranform ease-in;
    transform: scale(1.08);
}