.sidebarOption{
    display: flex;
    color:grey;
    align-items: center;
    height: 50px;
    cursor: pointer;
    transition: 200ms color ease-in;
    
}
.sidebarOption:hover{
    color: white;
}
.sidebarOption_icon{
    padding:0 10px;
}